@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans Japanese", sans-serif;
  font-family: 'Noto Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-weight: 600;
}

.quote {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

nav li a {
  color: #b64c6e;
}

.btn {
  border-color: #d89fb0;
}

.btn a {
  color: #d89fb0;
  text-decoration: none;
}
