html {
  font-family: "Noto Sans Japanese", sans-serif;
  font-family: 'Noto Sans', sans-serif;
}


.quote {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

nav li a {
  color: #b64c6e;
  padding: .5em;
}

.btn {
  border-color: #d89fb0;
}

.btn a {
  color: #d89fb0;
  text-decoration: none;
}
